<configuration>
<!-- 
	<property name="LOG_DIR" value="/var/log/application" />
-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR:-.}/unit-tests.log</file>
		<!-- 
		<file>${LOG_DIR}/tests.log</file>
		-->
		<append>true</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="uebung3.BundestagsFactory" level="INFO" />
	<logger name="org.group44.parliamentbrowser.builder" level="INFO" />
	<logger name="org.group44.parliamentbrowser.types" level="INFO" />
	
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="uebung3.tests" level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>

</configuration>