/*
Stylesheet für die abgeordnetenManagement Seite
@author Felix
*/

/* Seiteneigenschaften festlegen */
html {
    background: linear-gradient(to bottom right, purple, orange);
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Eigenschaften der Überschrift festlegen */
h1 {
    color: antiquewhite;
    text-align: center;
    margin-bottom: 30px;
}

/* Eigenschaften des Dropdown-Menüs festlegen */
.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Eigenschaften des Dropdown-Menü-Buttons festlegen */
.dropbtn {
    color: antiquewhite;
    background-color: transparent;
    border-color: transparent;
}

/* Eigenschaften des Dropdown-Inhaltes festlegen */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto; /* Overflow anpassen, damit ggf. gescrollt werden kann wenn der Inhalt des Dropdown über die Seite hinaus geht */
}

/* Verhalten des Dropdowns wenn der Zeiger drüberliegt.*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*Festlegen Eigenschaften Dropdown content*/
.dropdown-content a{
    color: antiquewhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 0;
}

/*Festlegen Eigenschaften Dropdown Button*/
.dropdown-content button {
    background-color: transparent;
    color: antiquewhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-color: transparent;
    margin: 0;
}

/*Festlegen von Logoutbutton Eigenschaften*/
.dropdown-content button.logout-button {
    background-color: transparent;
    color: antiquewhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-color: transparent;
    margin: 0 auto;
}

/*Festlegen verhalten wenn man mit Maus über Content fährt.*/
.dropdown-content a:hover{
    background-color: #ffa500;
}

/*Festlegen verhalten wenn man mit Maus über Button fährt*/
.dropdown-content button:hover {
    background-color: #ffa500;
}

/*Festlegen Eigenschaften des Containers*/
.container {
    background-color: transparent;
    color: antiquewhite;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 40px 30px;
    margin-top: 100px;
    width: 90%;
    height: 100%;
    border: 2px solid antiquewhite;
    overflow: auto
}

/*Festlegen Tabelleneigenschaften*/
table {
    border-collapse: collapse;
    width: max-content;

}

/*Breite der Geburtsort-spalte*/
.custom-table tb:nth-child(9),
.custom-table th:nth-child(9){
    width: 100px;
}

/* Breite der Berufsspalte*/
.custom-table tb:nth-child(11),
.custom-table th:nth-child(11) {
    width: 70px;
}

/*Breite der Mitgliedschaftenspalte*/
.custom-table tb:nth-child(15),
.custom-table th:nth-child(15) {
    width: 1000px;
}

/*Breiten der RedenIDs und Vita Spalten */
.custom-table tb:nth-child(17),
.custom-table th:nth-child(17),
.custom-table tb:nth-child(18),
.custom-table th:nth-child(18){
    width: 800px !important;
}

/*Festlegen von Spalten und Zeileneigenschaften*/
th, td {
    border: 1px solid antiquewhite;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Hellerer Hintergrund bei geraden Zeilen*/
}

/* Popup-Fenster-Stile */
.popup-content {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    z-index: 9999;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    color: antiquewhite;
}

.popup-content h2 {
    text-align: center; /* Zentrierung des Titels */
}

/* Schließen-Symbol */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 24px;
}