/*
Stylesheet für die Profil Seite
@author Felix
*/

/* Festlegen der Seiteneigenschaften*/
html {
    background: linear-gradient(to bottom right, purple, orange); /* Hintergrundfarbe der Seite */
    font-family: "Times New Roman", sans-serif; /* Schriftart */
    margin: 0; /* Abstand um Seite herum */
    padding: 0;/* Abstand von Rahmen der Seite zu ihrem Inhalt */
    height: 100%; /* Relative höhe der Seite */
}

/* Container eigenschaften festlegen*/
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Eigenschaften der Überschrift festlegen*/
h1 {
    color: antiquewhite;
    text-align: center;
}

/*Texteigenschaften Festlegen*/
p {
    color: antiquewhite;
}

/*Button Eigenschaften festlegen*/
button {
    background-color: transparent;
    color: antiquewhite;
    border-color: transparent;
}

/* Eigenschaften des Dropdown*/
.dropdown {
    position: absolute;
    top: 20px;
    left: 20px;
}

/*Eigenschaften des Dropdown-Buttons*/
.dropbtn {
    color: antiquewhite;
    background-color: transparent;
    border-color: transparent;
}

/*Eigenschaften des Dropdown Inhalts*/
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background-color: transparent;
    overflow-y: auto; /*Festlegen Overflow falls Content über die Seite hinausgeht*/
}

/*Festlegen verhalten des dropdown bei hover*/
.dropdown:hover .dropdown-content {
    display: block;
}

/*Festlegen Eigenschaften Dropdown Inhalt*/
.dropdown-content a {
    color: antiquewhite;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Festlegen Eigenschaft Dropdown bei hover*/
.dropdown-content a:hover {
    background-color: #ffa500;
}

.dropdown-content button {
    color: antiquewhite;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}

.dropdown-content button:hover {
    background-color: #ffa500;
}

/*Festlegen Eigenschaften des Popup*/
.popup-content {
    display: none; /* Popup standardmäßig ausblenden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
}

/* Festlegen der Button eigenschaften im Popup*/
.popup-content button{
    color: antiquewhite;
    padding: 12px 16px;
    background-color: orange;
    border: black;
    cursor: pointer;
    display: block;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
}

/* Festlegen der eigenschaften des Close Button*/
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
