/* Einrichtung des Dropdown-Menüs */
nav ul ul {
    display: none; /* Startzustand versteckt, um eine saubere Navigation zu gewährleisten */
}
nav ul li:hover > ul {
    display: block; /* Zeigt Untermenüs beim Hover über ein Listenelement an, für eine intuitive Navigation */
}

/* Stilisierung der Textelemente für eine einheitliche und ansprechende Optik */
body, h1, h2, h3, h4, h5, h6, p, a {
    color: white; /* Setzt die Textfarbe auf Weiß für optimale Lesbarkeit auf dunklen Hintergründen */
    font-family: 'Montserrat', sans-serif; /* Wählt 'Montserrat' für eine moderne und klare Typografie */
    font-size: 24px; /* Etwas größere Schrift für bessere Lesbarkeit */
    line-height: 1.5; /* Erhöht den Zeilenabstand für eine luftigere Textstruktur */
    margin-bottom: 20px; /* Mehr Platz nach jedem Abschnitt für eine strukturierte Aufteilung */
}

/* Spezifische Stilisierung für Überschriften und den Body */
body, h1 {
    color: rgb(243, 238, 238); /* Ein leicht abgetöntes Weiß für subtile Kontraste */
    font-size: 30px; /* Großzügige Schriftgröße für Überschriften, um Aufmerksamkeit zu erregen */
}

/* Einheitlicher Stil für Icons, die im Navigationsmenü verwendet werden */
nav ul i {
    color: white; /* Setzt Icon-Farbe auf Weiß, passend zum Text, für Designkohärenz */
}

/* Definiert einen auffälligen horizontalen Farbverlauf für den Seitenhintergrund */
body {
    background: linear-gradient(to right, #df18cf, #f0660a); /* Ein lebhafter Farbverlauf von Pink zu Orange */
}

/* Einstellungen für ein Hintergrundbild */
.background-image {
    background-image: url('https://example.com/background.jpg'); /* Pfad zu einem beeindruckenden Bild */
    background-size: contain; /* Sorgt dafür, dass das gesamte Bild sichtbar ist */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-position: center; /* Zentriert das Bild für eine ausgewogene Optik */
    width: 50%; /* Nutzt 50% der Breite für eine harmonische Teilung des Bildschirms */
    height: 100vh; /* Streckt das Bild über die gesamte Bildschirmhöhe */
    position: fixed; /* Fixiert das Bild, so dass es beim Scrollen an Ort und Stelle bleibt */
    right: 0; /* Positioniert das Bild rechts für eine dynamische Layoutgestaltung */
    z-index: -1; /* Stellt sicher, dass der Inhalt über dem Bild liegt */
}
